# Python Insights - Analisando Dados com Python

### Case - Cancelamento de Clientes

Você foi contratado por uma empresa com mais de 800 mil clientes para um projeto de Dados. Recentemente a empresa percebeu que da sua base total de clientes, a maioria são clientes inativos, ou seja, que já cancelaram o serviço.

Precisando melhorar seus resultados ela quer conseguir entender os principais motivos desses cancelamentos e quais as ações mais eficientes para reduzir esse número.

Base de dados e arquivos: https://drive.google.com/drive/folders/1uDesZePdkhiraJmiyeZ-w5tfc8XsNYFZ?usp=drive_link

In [1]:
#Passo a passo
#Passo 1: Importar a base de dados
#Passo 2: Visualizar a base de dados
    # entender oque tem na base de dados
    # encontrar os erros na base de dados
#Passo 3: Tratamento de Dados - Corrigir os erros na base de dados
#Passo 4: Análise inicial dos cancelamentos
#Passo 5: Análise de causas do cancelamento dos clientes

In [22]:
# Pacotes Para trabalhar com graficos
    # pandas
    # plotfly

#!pip install  pandas openpyxl numpy ipykernel nbformat plotly

import pandas

tabela = pandas.read_csv("cancelamentos.csv")

tabela = tabela.drop(columns="CustomerID")

#função pra escluir linhas vazias
tabela = tabela.dropna()

display(tabela)

        idade    sexo  ...  meses_ultima_interacao  cancelou
0        30.0  Female  ...                    17.0       1.0
1        65.0  Female  ...                     6.0       1.0
2        55.0  Female  ...                     3.0       1.0
3        58.0    Male  ...                    29.0       1.0
4        23.0    Male  ...                    20.0       1.0
...       ...     ...  ...                     ...       ...
881661   42.0    Male  ...                     8.0       0.0
881662   25.0  Female  ...                     2.0       0.0
881663   26.0    Male  ...                     9.0       0.0
881664   28.0    Male  ...                     2.0       0.0
881665   31.0    Male  ...                    21.0       0.0

[881659 rows x 11 columns]

In [23]:
#Passo 4: Quantos clientes cancelaram

#
display(tabela["cancelou"].value_counts(normalize=True))

cancelou
1.0    499993
0.0    381666
Name: count, dtype: int64